<configuration>
    <!-- In stdio mode, logs MUST go to stderr to not interfere with JSON-RPC on stdout -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDERR"/>
    </root>

    <logger name="com.agentmemory" level="DEBUG"/>
</configuration>
